body{
    background-color: rgb(44, 44, 44);
}

.outerContainer{
    padding: 1em;
    overflow: hidden;
}

.innerContainer{
    width: 100%;
}

.appHeader{
    text-align: center;
    border-bottom: 1px solid black;
}

.appContainer{
    display: flexbox;
    margin: 0 auto;
    width: 85%;
    padding: 1em;
    border: 3px solid black;
    border-radius: 1em;
    height: 75vh;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 3px black;
}

.appBodyOuter{
    width: 100%;
    justify-content: space-evenly;
}

.appBodyInner{
    width: 100%;
    
}

.itemList{
    list-style: none;
    font-size: larger;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3/1fr);
}

.toDoContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.toDoContainer:hover{
    background-color: lightgray;
    cursor: pointer;
}

.form{
    clear: both;
}

.listItem{
    font-size: 2em;
    margin: 0;
    width: 85%;
}

.checkbox{
    margin: 1px;
}

.delete{
    margin-left: 2em;
    width: 3em;
    justify-content: flex-end;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
}

input[type=text] {
    
}

.userInputOuter{
    border-top: 1px solid black;
}

.uiHeader{
    font-size: 2em;
}

#userInput{
    font-size: 2em;
    margin-top: 5em;
}

#userButton{
    font-size: 2em;
    background-color: green;
    color: white;
    margin: 0;
}

.list{
    font-size: 2em;
}