body{
    background-color: rgb(44, 44, 44);
}

.outerContainer{
    overflow: hidden;
}

.innerContainer{
    width: 100%;
}

.appHeader{
    text-align: center;
    border-bottom: 1px solid black;
}

.appContainer{
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    border: 3px solid black;
    border-radius: 1em;
    height: 75vh;
    max-height:min-content;
    background-color: white;
    box-shadow: 3px 3px 3px black;
    display: grid;
    grid-template-rows: repeat(3/1fr);
}

.appBodyOuter{
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
    height: 45vh;
}

.appBodyInner{
    width: 100%;
    height: 100%;
}

.headers{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-size: larger;
    background-color: lightgray;
}

.buttonHeadersContainer{
    display: flex;
    
}

#completedHeader{
    margin-left: 1em;
}

.endButtons{
    margin: 1em;
}

.itemList{
    font-size: larger;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1/1fr);
    width: 100%;
}

.toDoContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.toDoContainer:hover{
    background-color: lightgray;
    cursor: pointer;
}

.listItem{
    font-size: 2em;
    margin: 0;
    width: 85%;
}

.checkbox{
    margin: 1px;
    background-color: green;
}

.buttonContainer{
    display: inline-flex;
    justify-content: end;
}

.delete{
    margin: 0 auto;
    width: 5em;
    height: 100%;
}

#deleteImage{
    width: 3em;
    height: 3em;
}

.edit{
    margin: 0 auto;
    width: 5em;
    height: 100%;
}

.editBox{
    font-size: 1em;
    
    
}

input[type=checkbox] {
    width: 50px;
    height: 50px;
    background-color: green;
    color: green;
}

.userInputOuter{
    border-top: 1px solid black;
    height: 100%;
}

.userInputInner{
    margin-top: 2em;
}

.uiHeader{
    font-size: 2em;
}

#userInput{
    font-size: 2em;
}

.list{
    font-size: 2em;
}

.completed {
    background-color: #d0e8f2;
}
